/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0a0a0a;
    color: #fff;
}

.logo {
    font-size: 1.8em;
}

header {
    padding: 15px;
    background: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-controls {
    display: flex;
    gap: 10px;
}

#search {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 10px 14px;
    background: #ff3b3b;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

/* TABS */
.tabs {
    display: flex;
    background: #111;
}
.tab {
    flex: 1;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    background: #222;
    border-bottom: 3px solid transparent;
}
.tab.active {
    border-bottom: 3px solid #ff3b3b;
    background: #333;
}

/* GRID */
.grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 18px;
}

.movie {
    background: #141414;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: .2s;
}

.movie img {
    width: 100%;
    display: block;
}

.movie-info {
    padding: 8px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #1a1a1a;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 12px;
    position: relative;
}

#close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-top: 10px;
}